<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc9687">  <td>21/03/16 22:39:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ItemSearch.mac()[pri:0, instance:opencart.ItemSearch@6e509ffa]">mac</td> 
  <td>main@336371513</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>21/03/16 22:38:49</td>   <td>-20411</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:opencart.ItemSearch@6e509ffa]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@336371513</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>21/03/16 22:39:17</td>   <td>8148</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:opencart.ItemSearch@6e509ffa]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@336371513</td>   <td></td> </tr>
</table>
